.pulse {
    stroke: purple;
   }
   .pulse:hover
   {
    -webkit-animation-name: pulsar;
    -webkit-animation-duration: 0.5s;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-direction: alternate;

    animation-name: pulsar;
    animation-duration: 0.5s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
   }

   /*
    Using keyframes pulsar to change the color of each dot to orange so that they appear to pulse
   */
   @keyframes pulsar {
    to {
        fill:orange;
    }
   }